; https://electronjs.org/docs/tutorial/using-native-node-modules
; Electron's version.
target=1.7.10
; The architecture of Electron, can be ia32 or x64.
arch=x64
target_arch=x64
; Download headers for Electron.
disturl=https://atom.io/download/electron
; Tell node-pre-gyp that we are building for Electron.
runtime=electron
; Tell node-pre-gyp to build module from source code.
build_from_source=true

; Install all dependencies, and store cache to ~/.electron-gyp.
; HOME=~/.electron-gyp npm install


electron_mirror = "https://npm.taobao.org/mirrors/electron/"
;http_proxy = "http://127.0.0.1:1080"
;https_proxy = "http://127.0.0.1:1080"
registry = "https://registry.npm.taobao.org/"